.c-p-l {
    padding-left: 5.5rem; 
}
  
.custom-image {
    width: 25px;
    height: 25px;
}

.c-t-s{
    font-size: 22px;
    font-weight: 400;
}

.btn-post{
    padding: 10px 80px 10px 80px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(65, 140, 225);
    border-radius: 32px;
    color: white;
    border: none;
}

.w-40{
    width: 39%;
}
.w-10{
    width: 10%;

}

.px-90{
    width: 18;
    padding-left: 90px;
    padding-right: 90px;
}

.foryou:hover{
    background-color: rgb(65, 140, 225);
}

.w-20{
    width: 18rem;
}

.fs-45{
    font-size: 21.5px;
}

.btx:focus{
    outline: none;
}

.searchInput{
    background-color: #212121;
}
.mt-6{
    margin-top: 62px;
}

.w-35{
    width: 38.8%;
}

.fs-8{
    font-size: 14px;
}

.w-80{
    width: 90%;
}

.text-bold{
    font-weight: 600;
}