section{
    width: 100%;
    position: relative;
    margin-top: 180px;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .Sections{
    display: flex;
    justify-content: space-between;
  }
  .SectionTitle{
    width: 45%;
  }
  
  .SectionTitleContainer{
    font-size: 70px;
    letter-spacing: 1.9!important;
    font-weight: 700;
    word-spacing: 10cap;
    line-height: 6rem;
  }
  
  .SectionTitleDescription{
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 2rem;
  }
  
  .SectionBottom{
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  
  .SectionBottomContainer{
    margin-right: 20px;
  }
  
  .SectionBottomContainer span{
   display: inline-block;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    left: 10px;
  }
  .SectionBottomContainer > img{
    width: 15%;
  }
  
  .ImageSlider{
  position: relative;
  width: 50%;
  }
  
  .ImageSliderContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .logos{
    height: 600px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
}

.logosSlide{
    animation: 15s slide infinite linear;
    scroll-behavior: smooth ;
}

.down{
    animation: 15s slidedown infinite linear;
    scroll-behavior: smooth ;
}

.images{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 180px;
    padding-top: 20px;
    border-radius: 15px;
}

@keyframes slide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(-0%);
    }
}
  ._ImageSlide{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 150px;
    height: 200px;
    /* max-height: 150px; */
    border-radius: 15px;
  }
  .SectionLogo{
    position: relative;
    top:50%;
  }
  .SectionLogoContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .SectionLogoContainer > img{
    width: 130px;
  }

  