/* VerticalScroll.css */

.container {
    height: 250px;
    margin: auto;
    width: 270px;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: beige;
  }
  
  .scrolling-images {
    display: flex;
    flex-direction: column;
    height: calc(200px * 5); /* Adjust the height based on the number of slides */
    overflow: hidden;
    animation: scroll 30s linear infinite;
  }
  
  .slide {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    perspective: 100px;
  }
  
  img {
    width: 100%;
    transition: transform 1000s;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-30px * 5)); /* Adjust the calculation based on the height of each image and the number of slides */
    }
  }
  